/**
 * Description: Thanks page styles
 * Version: 1.0.0
 * Created: 13/10/2018
 * Author: Rafael Otero <hola@jostech.com.ve>
 * 
 */
 
.thanks{
  .section-title{
    padding-top: rem-calc(70px);
  }
}